<script src="{{ url_for('static', filename='js/core/theme.js') }}"></script>
<script src="{{ url_for('static', filename='js/core/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/core/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/client.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/environment.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/time.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/args.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/badges.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/status.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/inline_edit.js') }}"></script>

<script src="{{ url_for('static', filename='js/render/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/render/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/render/run.js') }}"></script>
<script src="{{ url_for('static', filename='js/render/run_qconsole.js') }}"></script>
<script src="{{ url_for('static', filename='js/render/run_pipeline.js') }}"></script>

<script src="{{ url_for('static', filename='js/render/run_pipeline_steps/demo_queue.js') }}"></script>

<script src="{{ url_for('static', filename='js/actions/triggers.js') }}"></script>

<script src="{{ url_for('static', filename='js/modals/environment_console.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals/environment_details.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals/environment_add.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals/run.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals/run_zone_snapshots.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals/run_fps_snapshots.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals/command.js') }}"></script>

<script src="{{ url_for('static', filename='js/core/socket.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
